
.sc-ion-searchbar-md-h {
    -webkit-padding-start: 0;
    padding-inline-start: 0;
    -webkit-padding-end: 0;
    padding-inline-end: 0;
    padding:0;
}
// .searchbar-input.sc-ion-searchbar-md {
//     padding-left: unset;
//     padding-right: unset;
//     -webkit-padding-start: 40px !important;
//     padding-inline-start: 40px !important;
//     -webkit-padding-end: 40px;
//     padding-inline-end: 40px;
// }
// .weather{
//     --background: #3880ff;
//     --color:white;
// }